
/* body des pages */
body {
background: url('images/Fond-bornev2.png');
font-family: 'TW Cen MT';
}

h2 {
    font-family: 'TW Cen MT';
}


/* page accueil */
#titre {
text-align: center;
font-size: 7.5rem;
font-family: 'orkney';
color: #000000;
}

#logocliquable{
text-align:center;
height: auto;
}

#logocliquable img{
width: 280px;
height: 10
    0px;
margin-top: 100px;
}

#titre{
    text-align: center;
    font-size: 25px;
}
/* page index*/

boutons{
width:50px;
list-style: none;
line-height: 3rem;
}

#boutons li{
background: rgba(0, 0, 0, .7);
color:#fff;
border: 1px solid #161616;
margin-bottom: 1px;
list-style-type: none;
margin-top: 75px;

}

#boutons li a {
display: block;
background: none;
color: #fff;
font-family:'orkney';
line-height: 0.5rem;
text-align: center;
text-decoration: none;
padding-top:35px;
padding-bottom:35px;
position: relative;
margin-top:0.5px;
font-size: 3rem

}
 #boutons li a:hover{
 transform: scale(1.1);
 color: #ffaa85;
}

/* page plan */
#planinterne {
  text-align: center;
  margin-top: 0px;
}

#planinterne img{
    width: 850px;
}
#title-plan {
  font-size: 2rem;
  color: #000;
  text-align: center;
  font-family: 'TW Cen MT';
}

.Returnplan {
	background-color:#cc0000;
	background-color:#cc0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:13px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #9e0101;
    font-family: 'Tw Cen MT';
    margin-left: 420px;
    margin-top: 30px;
   
}
.Returnplan:hover {
	background-color:#cc0000;
}
.Returnplan:active {
	position:relative;
	top:1px;
}

/* page liste html */
#marecherche{

margin-left: 230px;
    height: 50px;
    width: 210px;
    
}

input[type=text]{
   
   
   
}

input[type=submit]{
    background: #cc0000;
    color: #fff;
    border-radius: 2px;
     border-color: #cc0000;
}
button{
    height: 50px;
    width: 175px;
    
}
#aligner{
display: flex;
}
#aligner marecherche{
    flex-basis: 50%;
}

#aligner .test{
    flex-basis: 50%;
}

#titre-liste{
    color: #000;
    font-size: 2rem;
    text-align: center;
    font-family: 'TW Cen MT';
    
}

/* page actualite */
.planning {
    display: flex;
    margin-bottom: 0px;
    height: 450px;
    width: 1000px;
}

.img-planning{
    display: flex;
}

.texte-vendredi {
  text-align: center; /* alignement du texte*/
  background: #e9e3d5; /* changement couleur d'arriere plan*/
  font-size: 1rem; /* taille de la font*/
  line-height: 1rem; /* espacement entre les lignes du texte*/
  padding: 2rem 0; /* marge intérieure de 80 px pour le top et bot & 0 en right et left*/
  flex-basis: 33%;
    transform: scale(1.02);
    font-family: "TW Cen MT";
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.texte-vendredi span{
    visibility: hidden;
}

.texte-samedi span{
    visibility: hidden;
}

.texte-dimanche span{
    visibility: hidden;
}


.heure:hover +span{
    visibility: visible;
}


.texte-samedi {
 text-align: center; /* alignement du texte*/
  background: #e9e3d5; /* changement couleur d'arriere plan*/
  font-size: 1rem; /* taille de la font*/
  line-height: 0.7rem; /* espacement entre les lignes du texte*/
  padding: 2rem 0; /* marge intérieure de 80 px pour le top et bot & 0 en right et left*/
  flex-basis: 33%;
    transform: scale(1.02);
    font-family: "TW Cen MT";
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}


#btns a{
    z-index: 10;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background: #cc0000;
    border-radius: 5px;
    width: 100px;
    height: 40px
}
.texte-dimanche {
  text-align: center; /* alignement du texte*/
  background: #e9e3d5; /* changement couleur d'arriere plan*/
  font-size: 1rem; /* taille de la font*/
  line-height: 0.8rem; /* espacement entre les lignes du texte*/
  padding: 2rem 0; /* marge intérieure de 80 px pour le top et bot & 0 en right et left*/
  flex-basis: 34%;
    transform: scale(1.02);
    font-family: "TW Cen MT";
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}



.texte-vendredi .date{
    font-size: 1rem;
}

.texte-samedi .date{
    font-size: 1rem;
}

.texte-dimanche .date{
    font-size: 1rem;
}

#btns{
    text-align: center;
    margin: 20px 10px;
    
}

#btns a{
     font-size: 25px;
    padding: 5px 10px;
    
}
/* bouton retour */
.Return {
	background-color:#cc0000;
	background-color:#cc0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:13px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #9e0101;
    font-family: 'Tw Cen MT';
    margin-left: 14px;
    margin-top: 50px;
    
}
.Return:hover {
	background-color:#cc0000;
}
.Return:active {
	position:relative;
	top:1px;
}

/* Page liste */

.articles {
  width: 80%; /* largeur */
  margin: 0 auto; /* écart de remplissage extérieure */
  padding: 3rem 0; /* écart de remplissage intérieur*/
  
}

.articles > div {
  display: flex; /* type d'affichage */
  flex-wrap: wrap;
  margin-bottom: 2rem; /* écart de remplissage extérieure avec le bas */
  justify-content: space-around; /* aligne l'élément horizontalement et affiche avec un espacement égal à l'entour d'eux. */

}

.articles > div > div {
  flex-basis: 31%; /* taille qu'un bloc (ex div) va prendre sur les autres blocs */
  min-width: 30rem; /* largeur minimal */
  margin-bottom: 2rem; /* écart de remplissage extérieure avec le bas */
  background: url('images/font-vignette.png');
  background-size: cover;

}

.articles img {
  width: 100%; /* largeur */
}

.articles .title-like {
  font-size: 5rem; /* taille de police */
  text-align: center; /* alignement horizontal*/
  color: #000; /* couleur */
   font-family: 'WesFY';
   
    
}

.articles a {
  display: block; /* type d'affichage */
  color: #000; /* couleur */
  text-decoration: none; /* type de décoration pour le texte */
  padding: 1rem; /* écart de remplissage intérieur */
}

.articles-title {
  font-size: 1.3rem; /* taille de police */
  line-height: 1.8rem; /* espacement entre les lignes */
}

.metrages-nom {
  display: block; /* type d'affichage */
  text-align: center; /* alingnement horizontale */
  font-size: 1.9rem; /* taille de police*/
  font-family: 'Times New Roman', Times, serif; /* type de police */
  font-weight: bold;
  font-style: italic; /* style de police */
  margin-bottom: 1rem; /* écart de remplissage extérieure avec le bas */
  position: relative; /*position d'un bloc qui est relatif */
  color: #000;
  
}

 .metrages-img img {
  position: relative; /* position qui est relatif */
  border-radius: 20px;
}

.metrages-img:hover{
    transform: scale(1.1);
    transition: transform ease-in .4s;
}
.metrages-over {
  position: absolute;  /* position qui est absolue */
  top: 1rem;   /*  espace avec le côté correspondant */
  right: 1rem;/* espace avec le côté correspondant */
  bottom: 1rem; /*espace avec le côté correspondant */
  left: 1rem; /*espace avec le côté correspondant */
  background: rgba(0, 0, 0, 0.7); /* couleur avec une opacité */
  opacity: 0; /* opacité*/
  transition: opacity 300ms ease-in; /* type de transition */
}

.metrages-over .title-like {
  position: absolute;
  width: 100%; /* largeur*/
  font-size: 3rem; /* taille de police */
  color: #fff; /* couleur*/
  left: 0; /* espace avec le côté gauche */
  overflow: hidden;
  transform: translateY(-50%); /* glissement sur l'axe Y*/
  transition: top .1s ease-in; /* type de transition */
}


/* liste php */

.alignement {
    margin-left: 410px;}

.content h1{
    text-align: center;
    font-family: "TW Cen MT";
    font-size: 4rem;
}

.relink {
    margin-left: 250px;
    text-decoration: none;
    font-family: "TW Cen MT";
    background: #cc0000;
    color: #fff;
    border-radius: 2px;
    font-size: 2rem;
}

