#titre {
text-align: center;
font-size: 7.5rem;
font-family: 'orkney';
color: #FFFFFF;
}

body{
background-image: url('images/LGP.png');
opacity:50;
}
#logocliquable{
text-align:center;
height: auto;
}

#logocliquable img{
width: 2000px;
height: 1500px;
}
boutons {
display: block;
}
