/*header*/
.menu{
    width: 100%;
    height :66px;
    line-height: 66px;
    background-color: black;
}

.content{
font-size: 40px;    
    
}

.m-left{
    float: left;
}

.logo{
    margin: 0;
    padding:0;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'Lombok';
}

.m-right{
    float: right;
    font-family: 'Harabara Mais Demo', 'MS Gothic';
    font-size : 15px;
}

.m-link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding : 0; 
    margin :0 10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.m-link:hover{
    border-bottom: 2px solid gold;
    padding-bottom: 3px;
    color : gold;
    font-size : 20px;
}

.m-link i{
    margin-right:5px;
}








/*Grande Image sur le menu d'accueil*/

body,html,header{
    margin:0px;
    padding:0px;
}

.wrapper{
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background: url(cinema.jpg)no-repeat;
    background-size:cover;
    color:white;  
}

header,body,html{
    width: 100%;
    height: 100%;
}


header{
    background: url(images/Fond-site.jpg)no-repeat;
    background-size:cover;
    color:white;    
}

.wrapper{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


.content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}








.horaire{
    text-align : center;
    font-family: 'Tw Cen MT';
    color: #000;
    
}





/*texte*/
table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}


.acces {
    font-size: 1rem;
    background: #e9e3d5;
    font-family: 'Tw Cen MT';
    color: #000;
}


/*CSS du bouton telechargement*/


.myButton {
	background-color:#cc0000;
	background-color:#cc0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:13px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #9e0101;
    font-family: 'Tw Cen MT';
}
.myButton:hover {
	background-color:#cc0000;
}
.myButton:active {
	position:relative;
	top:1px;
}



/*css tableau*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #cc0000;
  color: white;
}

        