body .menu{
text-align:center;
background: #000000;
font-family: 'Harabara', 'MS Gothic';
}
body .menu a{
text-decoration: none;
background: #000000;
color: #ffffff;
font-size: 5rem;
line-width: 2;
}
body .menu a:hover{
color: #B22222;
}
