/*@media screen and (min-width:450px){
/*header*/
@font-face {
font-family: "WesFY";
src: url("Wes_FY_Thin.ttf");
}
.menu{
    width: 100%;
    height :66px;
    line-height: 66px;
    background-color: black;
}

.content{
font-size: 40px;
    font-family: "WesFY";
}

.content h1{
    font-family: "WesFY";
}

.content p{
    font-family: "TW Cen MT";
}

.m-left{
    float: left;
    
}

.logo{
    margin: 0;
    padding:0;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'Lombok Regular';

}

.m-right{
    float: right;
    font-family: 'Harabara Mais Demo', 'MS Gothic';
    font-size : 15px;
}

.m-link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding : 0; margin :0 10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.m-link:hover{
    border-bottom: 2px solid #cc0000;
    padding-bottom: 3px;
    color : #cc0000;
    font-size : 20px;
}


.m-link i{
    margin-right:5px;
}

p{
    font-family: 'TW Cen MT';
   
}

/*Grande Image sur le menu d'accueil*/

body,html,header,h1{
    margin:0px;
    padding:0px;
}

.wrapper{
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background: url(images/Fond-site.jpg)no-repeat;
    background-size:cover;
    color:white;
}

header,body,html{
    width: 100%;
    height: 100%;
}


header{
        
    color:white;
}

.wrapper{
    display:table;
    width: 100%;
    height: 100%;
}


.content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow:1px 1px 10px black;
    font-family: 'Wes FY 2';
}

.subtitle{
    font-size:23px;
}

main{
    margin:20px ;
    font-size: 23px;
    text-align: center;
    border: 2px solid #cc0000;
     border-right-style: hidden;
    border-left-style:hidden;
    background: #000;
    color: #fff;
    padding: 3.5rem 0;
    line-height: 1rem;
}


main p {
    margin-left: 50px;
}






/*Diapo*/
/* gestion des dimensions et débordement du conteneur */
#slideshow {
    margin-left: 450px;
    padding-bottom: 50px;
}
#slideshow .container {
	position:relative;
	width: 640px;
	height: 310px;
	overflow: hidden;
}
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}

/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;   
}


/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}


/* fonction d'animation*/
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

/* complétez le sélecteur : */
#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slider 20s infinite;
}



.map{
    margin-left : 20px;
    margin-top: 20px;
}








/* page contact */
h3{
    text-align: center;

}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Tw Cen MT';
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #cc0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #161616;
  color: white;
}

#plan {
    background: cover;
}



/*page presse*/

.tendances {
  display: flex; /* type d'affichage*/
}

.tendances-item {
  flex-basis: 50%; /* coupe le bloc en 2*/ 
    border: 1px solid #000000;
}

.tendances-inverse {
  flex-direction: row-reverse; /* direction de la flex */
}

.tendances-txt {
  font-size: 1.6rem; /* taille */
  line-height: 2.5rem; /* espacement entre les lignes*/
  padding: 7rem; /* marges intérieure*/
}

.tendances-txt a {
  color: #5c738d; /* couleur*/
}

.tendances-txt a:hover {
  text-decoration: underline; /* type de décoration pour le texte */
}

.tendances-txt .title-like {
  color: #000;
}

.tendances-img {
  position: relative; /* position qui est relative */
}

.tendances-img span {
  position: absolute;
  bottom: 0;/*  espace avec le côté correspondant */
  left: 0; /* espace avec le côté correspondant */
  right: 0; /* espace avec le côté correspondant */
  background: rgba(0, 0, 0, .7); /* couleur + opacité */
  padding: 3rem 0; /* marges intérieures*/
  text-align: center; /* alignement horizontale*/
  color: #fff;
  font-size: 1.8rem; /* taille de police */
}

/* page métrage */

.articles {
  width: 80%; /* largeur */
  margin: 0 auto; /* écart de remplissage extérieure */
  padding: 3rem 0; /* écart de remplissage intérieur*/
  
}

.articles > div {
  display: flex; /* type d'affichage */
  flex-wrap: wrap;
  margin-bottom: 2rem; /* écart de remplissage extérieure avec le bas */
  justify-content: space-around; /* aligne l'élément horizontalement et affiche avec un espacement égal à l'entour d'eux. */

}

.articles > div > div {
  flex-basis: 31%; /* taille qu'un bloc (ex div) va prendre sur les autres blocs */
  min-width: 30rem; /* largeur minimal */
  margin-bottom: 2rem; /* écart de remplissage extérieure avec le bas */
  background: url('images/font-vignette.png');
  background-size: cover;

}

.articles img {
  width: 100%; /* largeur */
}

.articles .title-like {
  font-size: 5rem; /* taille de police */
  text-align: center; /* alignement horizontal*/
  color: #000; /* couleur */
   font-family: 'WesFY';
   
    
}

.articles a {
  display: block; /* type d'affichage */
  color: #000; /* couleur */
  text-decoration: none; /* type de décoration pour le texte */
  padding: 1rem; /* écart de remplissage intérieur */
}

.articles-title {
  font-size: 1.3rem; /* taille de police */
  line-height: 1.8rem; /* espacement entre les lignes */
}

.metrages-nom {
  display: block; /* type d'affichage */
  text-align: center; /* alingnement horizontale */
  font-size: 1.9rem; /* taille de police*/
  font-family: 'Times New Roman', Times, serif; /* type de police */
  font-weight: bold;
  font-style: italic; /* style de police */
  margin-bottom: 1rem; /* écart de remplissage extérieure avec le bas */
  position: relative; /*position d'un bloc qui est relatif */
  color: #000;
  
}

 .metrages-img img {
  position: relative; /* position qui est relatif */
  border-radius: 20px;
}

.metrages-img:hover{
    transform: scale(1.1);
    transition: transform ease-in .4s;
}
.metrages-over {
  position: absolute;  /* position qui est absolue */
  top: 1rem;   /*  espace avec le côté correspondant */
  right: 1rem;/* espace avec le côté correspondant */
  bottom: 1rem; /*espace avec le côté correspondant */
  left: 1rem; /*espace avec le côté correspondant */
  background: rgba(0, 0, 0, 0.7); /* couleur avec une opacité */
  opacity: 0; /* opacité*/
  transition: opacity 300ms ease-in; /* type de transition */
}

.metrages-over .title-like {
  position: absolute;
  width: 100%; /* largeur*/
  font-size: 3rem; /* taille de police */
  color: #fff; /* couleur*/
  left: 0; /* espace avec le côté gauche */
  overflow: hidden;
  transform: translateY(-50%); /* glissement sur l'axe Y*/
  transition: top .1s ease-in; /* type de transition */
}
/* Partie responsive */
